<!-- <p *ngIf="assignmentTransmis">{{assignmentTransmis.nom}}</p> -->
<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>
      {{ assignmentTransmis.nom }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ assignmentTransmis.dateDeRendu | date : "dd/MM/yyyy" }}
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="assignmentTransmis.picture">
        <img mat-card-avatar [src]="assignmentTransmis.picture" />
      </div>
      <p *ngIf="assignmentTransmis.rendu">
        Remarques : {{ assignmentTransmis.description }}
      </p>
      <p>Matière: {{ assignmentTransmis.matiere }}</p>
      <p *ngIf="assignmentTransmis.rendu"></p>
      <div *ngIf="assignmentTransmis.rendu">
        <p>Remarques: {{ assignmentTransmis.description }}</p>
        <p>Note: {{ assignmentTransmis.note }}</p>
      </div>
      <p *ngIf="!assignmentTransmis.rendu">Non rendu</p>
      <p *ngIf="assignmentTransmis.rendu">Rendu</p>
    </mat-card-content>
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>
    <button mat-raised-button color="primary"  [disabled]="!isAdmin()">
      Editer
    </button>
    <button mat-raised-button color="warn"  [disabled]="!isAdmin()">
      Supprimer
    </button>
  </mat-card-content>
</mat-card>