<!-- <p *ngIf="assignmentTransmis">{{assignmentTransmis.nom}}</p> -->
<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>
      {{ assignmentTransmis.nom }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ assignmentTransmis.date_de_rendu | date : "dd/MM/yyyy" }}
    </mat-card-subtitle>
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>
    <button mat-raised-button color="primary"  [disabled]="false">Editer</button>
    <button mat-raised-button color="warn" [disabled]="false">
      Supprimer
    </button>
  </mat-card-content>
</mat-card>