
.rendu {
  color:green;
}

.nonRendu {
  color:red;
  border:2px dashed red;
  background-color:yellow;
}

#monParagraphe {
  color:pink
}

.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

table {
  width: 100%;
}

.mat-header-row {
/* todo : met le header de manière fixe en haut du tableau*/
  position: sticky;
  top: 0;
  z-index: 1;
}