<!-- <div *ngFor="let a of assignments">
  <p *ngIf="a.rendu" appRendu>
    {{ a.nom }}, à rendre le {{ a.dateDeRendu }} RENDU.
  </p>
  <p *ngIf="!a.rendu" appNonRendu>
    {{ a.nom }}, à rendre le {{ a.dateDeRendu }} NON RENDU.
  </p>
</div> -->
<main class="container">
  <mat-form-field class="barre-recherche">
    <mat-label>Rechercher un assignment</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
  </mat-form-field>

  <button mat-raised-button class="add-del-button">
    Ajouter un assignment
  </button>
  <button
      mat-raised-button
      class="add-del-button">
    Supprimer un assignment
  </button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #eventsSort="matSort" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nom
      </th>
      <td mat-cell *matCellDef="let rendu"><a (click)="viewDetails(rendu)"> {{ rendu.nom }}</a> </td>
    </ng-container>

    <!-- Matiere Column -->
    <ng-container matColumnDef="matiere">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Matière
      </th>
      <td mat-cell *matCellDef="let rendu"> {{ rendu.matiere }} </td>
    </ng-container>
    
    <!-- Date Column -->
    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date
      </th>
      <td mat-cell *matCellDef="let rendu"> {{ rendu.dateDeRendu | date : "dd/MM/yyyy" }} </td>
    </ng-container>

    <!-- Etat Column -->
    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Etat
      </th>
      <td mat-cell *matCellDef="let rendu"> {{ rendu.rendu ? 'Complété' : 'En attente' }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let rendu">
        <button mat-icon-button color="primary">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="primary"> <!-- ajouter les onclick -->
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="">
  </mat-paginator>

  <!-- <app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail> -->
</main>
<!-- <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment> -->