<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h2>Se connecter</h2>
        <mat-error *ngIf="!loginValid">
          Le pseudo ou le mot de passe est incorrect
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="name" name="name" required>
          <mat-error>
            Renseignez un email valide
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Renseignez un mot de passe valide
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="login()">Connexion</button>
      </form>
      <button mat-raised-button color="secondary" id="register" (click)="openDialog()">
        Inscription
      </button>  
    </mat-card-content>
  </mat-card>