<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ENT</span>
        <button mat-button routerLink="/home">
            <mat-icon>home</mat-icon>Accueil
        </button>
        <span class="spacer"></span>
        <button mat-icon-button class="right-icon">
            <mat-icon>person</mat-icon>
        </button>
        <div *ngIf="!isLogged()">
            <button mat-raised-button (click)="login()">
                Connecter
            </button>
        </div>
        <div *ngIf="isLogged()">
            <button mat-raised-button (click)="login()">
                Déconnecter
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item>
                <button>
                    <mat-icon mat-list-icon>assignment</mat-icon><a routerLink="/home">Liste des devoirs</a>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button>
                    <mat-icon mat-list-icon>add</mat-icon>
                    <a routerLink="/add">Ajout d'un devoir</a>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button>
                    <mat-icon mat-list-icon>edit</mat-icon>
                    <a routerLink="/edit">Modification d'un devoir</a>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button>
                    <mat-icon mat-list-icon>delete</mat-icon>
                    <a routerLink="/edit">Suppression d'un devoir</a>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button>
                    <mat-icon mat-list-icon>autorenew</mat-icon>
                    <a>Génération données test</a>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>