section {
  display: table;
}

.spacer {
  flex: 1 1 auto;
}

.right-icon {
  right: 0;
  top: 0;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 250px;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
}

mat-list-item {
  margin: 10px 0;
}

mat-list-item button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
}

mat-list-item a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

mat-icon {
  margin-right: 10px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ceci assure que la barre d'outils reste au-dessus des autres éléments */
}

.content {
  padding-top: 64px; /* Remplacez 64px par la hauteur réelle de votre barre d'outils */
}