.example-radio-button {
	margin-left: 7px;
}

.width-50 {
	width: 49%;
}

.ml-1 {
	margin-left: 1%;
}

.ml-2 {
	margin-left: 2%;
}

.width-100 {
	width: 100%;
}

.width-25 {
	width: 25%;
}

#register_div {
	display: grid;
	height: 80%;
	padding: 20px;
}

#register_button {
	grid-row: 3;
	grid-column: 1;
	justify-self: center;
	align-self: center;
}